body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 1100px;
    margin-left: 30px;
}

nav.nav li a {
    color: black;
    text-decoration: none;

}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

section img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 50%;
}

section {
    transition: transform 0.3s ease;
}

section:hover {
    transform: scale(1.05);
}

